VITE_FIREBASE_API_KEY="AIzaSyBOWfUAMCsY8sTJ3fZvEOA9C9O_Aa96ewk",
VITE_FIREBASE_AUTH_DOMAIN="voting-poll-1fe01.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="voting-poll-1fe01",
VITE_FIREBASE_STORAGE_BUCKET= "voting-poll-1fe01.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID="595385443139",
VITE_FIREBASE_APP_ID="1:595385443139:web:6cd35ab827d46e0e6405f6",
VITE_FIREBASE_MEASUREMENT_ID="G-G222GYYECM"